<div class="simple-calculator__wrapper stack">
  <h2>Простой калькулятор</h2>
  <div class="stack">
    <p>
      Сколько в день вы тратите времени на просмотр телефона, бесконечный скроллинг
      новостей?(укажите время в часах)
    </p>
    <input
      type="text"
      class="calculator-input"
      (input)="filterInput()"
      placeholder="Введите число..."
      #inputRef
    />
    <div class="calculator-result">
      <p>
        <span class="accent">{{ computedValue() }}</span>
        {{ ' ' }}
        <span class="calculator-output">{{ message() }}</span>
      </p>
    </div>
  </div>
</div>
